
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/scripts/Libraries/requirejs/require.js"></script>
    <script src="~/scripts/CompiledTS/AppStarter.js"></script>
</head>
<body>
    <div>
        <button id="buttonFirst">Click Me</button>
    </div>
    <script>
        (function() {
            main("Home/Index");
        })();
    </script>
</body>
</html>
